/*main*/
.WaterFlow-section2{
    display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
align-items: center;
margin: 50px 0;
}


.StarWars,.Disney,.HarryPotter,
.Marvel,.LegoCity,.Friends,
.Batman,.Police,.Train,
.Minecraft,.Ninjago,.Mario,
.ToyStory,.Halo{
    border: solid 3px rgb(82, 75, 191);
    border-radius: 5px 5px 5px 5px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    width: 80%;
    padding: 5px;
}
.setimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Text1,.Text2,.Text3,
.Text4,.Text5,.Text6,
.Text7,.Text8,.Text9,
.Text10,.Text11,.Text12
,.Text13 {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 3px;
    text-align: center;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(49, 98, 203);
    color: gold;
}
h3 {
    margin-left: 34rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}
.setbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    background-color: gold;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}
.Halo {
    margin-bottom: 1rem;
}


*, *:before, *:after {
    box-sizing: border-box;
    }
    
    body {
    font-family: Arial;
    margin: 0;
    display: grid;
    font-size: 14px;
    background-color: #C2CAD0;
    }
  
   
@media(max-width: 768px)  {
    .StarWars,.Disney,.HarryPotter,
.Marvel,.LegoCity,.Friends,
.Batman,.Police,.Train,
.Minecraft,.Ninjago,.Mario,
.ToyStory,.Halo{
    width: 100%;
}

}
    