<%- include('legoHeader'); %>
   
        <!--========== CONTACT ==========-->
        <div class="Contact-section">
            <h5>Neem contact op</h5>
            <div class="Border"></div>
            <form class="Contact-form" action="index.html" method="post">
                <input type="text" class="contact-from-text" placeholder="Naam">
                <input type="email" class="contact-from-text" placeholder="E-mail">
                <input type="text" class="contact-from-text" placeholder="Telefoon nummer">
                <textarea class="contact-from-text" placeholder="Uw bericht"></textarea>
                
                <a class="button" href="mailto:example@gmail.com">Zenden</a>
            </form>
        </div>

<%- include('legoFooter'); %>