<%- include('legoHeader'); %>
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Lego Masters</h1>
                    <h2 class="home__subtitle">Product van Water Flow</h2>
                    
                 </div>
    
                <img src="img/ClipartKey_2241852.png" alt="" class="home__img">
            </div>
        </section>

<!--===== APP =======-->
<section class="app section bd-container" id="webapp">
    <div class="app__container bd-grid">
        <div class="app__data">
            <h2 class="section-title about__initial">Web Applicatie</i></h2>
                    <span class="about__description">Na het aangeven van de aantal te ordenen minifigs, krijg je een lijst met beschikbare diensten en sets waarin  de gekozen minifigs voorkomen. 
                        Je zal deze dan kunnen ordenen.</span>
                        <br><br>
                        <a href="#" class="button" id="button1">Aantal te ordenen minifiguren toevoegen</a>
                        <br><br>
                        <a href="/minifiguren" class="button">Te ordenen minifiguren bekijken</a>
        </div>
        <div class="popup">
            <div class="popup-content">
                <img src="img/close-icon.png" alt="sluiten" class="close">
                <form action="/lego" method="post">
                    <ul>
                        <li>
                            <label for="aantal">Hoeveel minifigs zijn er nog te ordenen? (max.10)</label>
                            <input min="1" max="10" type="number" name="aantal" id="aantal" value="">
                        </li>
                        <li>
                            <button type='submit' class="button2">Toevoegen</button>
                        </li>
                </ul>
                </form>
            </div>
        </div>
        <img src="img/earth.svg" alt="" class="app__img">
    </div>
</section>
<section class="startPaginaCounters">
    <div class="counterContainer">
        
        <div>
            <div class="startPaginaCounter">
                <%- '<strong>' + aantal + '</strong><br/>' %>
            </div>
            <h3>Nog te ordenen minifigs</h3>
        </div>
        <div>
            
            <div class="startPaginaCounter">
                <%- '<strong>' + geordend + '</strong><br/>' %>
            </div>
            <h3>Aantal geordende minifiguren</h3>
        </div>
    </div>
</section>
<script src="js/startpaginaCounter.js"></script>


<%- include('legoFooter'); %>

