<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/style-lego.css">

        <title>Themadienst Water Flow</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="/lego" class="nav__logo">Lego Masters</a>  <img src="/img/lego-2.svg" alt="" class="nav__piclogo">

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/lego" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/index#about" target="_blank" class="nav__link">Over Ons</a></li>
                <li class="nav__item"><a href="/minifiguren" class="nav__link">Minifiguren</a></li>
                <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>


                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>