<%- include('legoHeader'); %>
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="set_h1">
                        <%- name %>
                   </h1>
                   <a href="/minifiguren" class="button">Dit set bevestigen</a>
                 </div>
    
                <img src="<%= set_img_url %>" alt="" class="home__img">
            </div>
        </section>

        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    
                   
                 </div>
                
                 <img src="img/ClipartKey_2241852.png" alt="" class="home__img">
            </div>
        </section>
        
<!--===== APP =======-->

<script src="/js/startpaginaCounter.js"></script>


<%- include('legoFooter'); %>


