<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <ul>
        <% for (let index = 0; index < resultaten.length; index++) {
            %>
            <li>
                <h1 name="name">
                    <%- '<strong>' + resultaten[index].name + '</strong><br/>' %>
                </h1>
                    <img src= "<%= resultaten[index].set_img_url %>" alt="">
                <button> <a href="movie/ejs"></a> Lees meer</button>

            </li>
            <% } %>
    </ul>